body,ul, li, h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.all{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* .top_menu {
    width: 100%;
    height: 20px;
    background-color: gray;
    float: left;
    text-align: right;
}
.top_ul{
    width: 1500px;
    height:20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-end;
} */


header {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
}
/* --- */
.header_container {
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: 2fr 200px 3fr 400px 2fr;
    grid-template-rows: 20px 80px 270px;
}

.top_left_index {
    grid-column : 1 / 4;
    grid-row : 1 / 2;
    background-color: red;
}

.top_menu {
    grid-column : 4 / 5;
    grid-row : 1 / 2;
    background-color: orange;
}
.top_ui {
    width:30%;
    height:100%;
    float: right;
    background-color: darkolivegreen;
}

.top_right_index {
    grid-column : 5 / 6;
    grid-row : 1 / 2;
    background-color: yellow;
}

.menu_left_index {
    grid-column : 1 / 2;
    grid-row : 2 / 3;
    background-color: green;
}

.menu_logo {
    grid-column : 2 / 3;
    grid-row : 2 / 3;
    background-color: blue;
}
.menu_logo > img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    /* position: relative; */
    /* z-index: 0; */
    /* background-size: cover; */
}

.menu_middle_index {
    grid-column : 3 / 4;
    grid-row : 2 / 3; 
    background-color: darkblue;
}

.menu_bar {
    grid-column : 4 / 5;
    grid-row : 2 / 3;
    background-color: purple;
}
.first_menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.first_menu > li {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.menu_right_index {
    grid-column : 5 / 6;
    grid-row : 2 / 3;
    background-color: gray;
}

.hb {
    grid-column : 1 / 6;
    grid-row : 3 / 4;
    grid-template-columns: 2fr 200px 3fr 400px 2fr;
    grid-template-rows: 300px;
    
}
.down_bar {
    grid-column : 2 / 5;
    grid-row : 1 / 2;
    background-color: coral;
}
/* --- */


.hidden_bar_1, .hidden_bar_2, .hidden_bar_3, .hidden_bar_4 {
    width:100%;
    height: 270px;
    background-color: brown;
    display: none;
    z-index: 1;
}
/* .hidden_bar_1{
    float: left;
    width: 100%;
    height: 270px;
    background-color: blue;
    display: none;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.hidden_bar_2{
    float: left;
    width: 100%;
    height: 270px;
    background-color: brown;
    display: none;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.hidden_bar_3{
    float: left;
    width: 100%;
    height: 270px;
    background-color: antiquewhite;
    display: none;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.hidden_bar_4{
    float: left;
    width: 100%;
    height: 270px;
    background-color: blueviolet;
    display: none;
    position: absolute;
    top: 100px;
    z-index: 1;
} */

section{
    width: 100%;
    height: 1000px;
}
.middle_img{
    width: 1500px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
}
.middle_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
    background-size: cover;
    /* border-radius: 40px; */
}

.middle_index {
    width: 100%;
    height: 130px;
    background-color: lightsalmon;
}

.middle_list{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
}


.hidden_hambeger{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 투명한 검은 배경 */
    display: none;
    position: absolute;
    right: -280px;
    z-index: 1;
  }
.hidden_hambeger_menubar{
    width: 280px;
    height: 100%;
    background-color: darkblue;
    display: none;
    position: absolute;
    right: -280px;
    opacity: 1;
    z-index: 2;
  }
  .hidden_hambeger_menubar>a>img{
    width: 50px;
    margin-left: 230px;
    
  }

.middle_content{
    background-color: aqua;
    grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.content_div{
    max-width: 100%;
    height: 400px;
    background-color: red;
    position: relative;
}
.content_div a{
    font-size: 28px;
    
}
.tap_group{
    position: absolute;
    font-size: 20px;
    
}
.tap_group img{
    width: 200px;
    padding-left: 100px;
}
#tapGroup_1,#tapGroup_2,#tapGroup_3{
    display: none;
}
.middle_map{
    background-color: antiquewhite;
    grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.middle_notice{
    background-color: red;
    grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.middle_notice li{
    width: 100%;
    height: 130px;
    background-color: white;
    border-bottom: 1px solid gray;
}
.middle_guide{
    background-color: yellow;
    grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.middle_guide img{
    width: 160px;
    margin-left: 100px;
    margin-top: 50px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: gray;
    
}
.footer_main{
    height: 300px;
    display: grid;
    background-color: rgb(72, 112, 160);
}
.f_up{
    height: 200px;
    background-color: red;
}
.inner{
    width: 1500px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    background-color: rgb(66, 66, 66);
    
}

.f_down{
    height: 100px;
    background-color: black;
}
.f_down_1{
    width: 1500px;
    height: 29%;
    margin: 0 auto;
    background-color: rgb(42, 42, 42);
    border-bottom: 1px solid black;
}
.f_down_2{
    width: 1500px;
    height: 70%;
    margin: 0 auto;
    background-color: rgb(42, 42, 42);
}

@media screen and (min-width :800px){
    
}
@media screen and (max-width :1000px){
    .middle_list{
        width: 95%;
    }
    .middle_guide img{
        width: 120px;
        margin-left: 50px;
    }
    .middle_guide img{
        width: 100px;
        margin-left: 50px;
        margin-top: 50px;
    }
    
}

@media screen and (max-width :800px){
    section{
        height: 2000px;
    }
    .middle_list{
        height: 2000px;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .middle_content,.middle_map,
    .middle_notice,.middle_guide{

        width: 100%;
        height: 25%;
    }
      .menu-trigger,
      .menu-trigger span {
        display: inline-block;
        box-sizing: border-box;
      }
      
      .menu-trigger {
        width: 50px;
        height: 44px;
        margin-top: -60px;
        position: relative;
        margin-left: calc(135vw / 3);
        
      }
      
      .menu-trigger span {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 3px;
        background-color: black;
        border-radius: 6px;
      }
      
      .menu-trigger span:nth-of-type(1) {
        top: 0;
      }
      
      .menu-trigger span:nth-of-type(2) {
        top: 20px;
      }
      
      .menu-trigger span:nth-of-type(3) {
        bottom: 0;
      }

      .hidden_hambeger{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* 투명한 검은 배경 */
        display: none;
        position: absolute;
        right: -280px;
        z-index: 1;
      }
     
      .hidden_hambeger_menubar{
        width: 280px;
        height: 100%;
        background-color: darkblue;
        display: none;
        position: absolute;
        right: -280px;
        opacity: 1;
        z-index: 2;
      }
      .hidden_hambeger_menubar>a>img{
        width: 50px;
        margin-left: 230px;
      }
      .middle_guide img{
        width: 100px;
        margin-left: 100px;
    }
    /* .menu_bar{
        display: none;
    } */
    .header_container{
        width: 100%;
    }
    
      
      
}